<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Test Project</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body>

    <div id="content"></div>

    <script>
        $(document).ready(function () {
            // Get the page from URL parameter, default to index.html
            const page = new URLSearchParams(window.location.search).get("page") || "index";
            $("#content").load(`/Views/${page}.html`);
        });
    </script>

    <script src="/js/main.js"></script>
    <script src="/js/bootstrap.js"></script>
</body>
</html>